.castList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.castCard {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.castImg {
    width: 150px;
    padding: 8px;
}

.castTitle {
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}
